<p id="notice"><%= notice %></p>

<h1>Escolha as 5 tags que mais te interessam<h1>

<% @usuarios.each do |usuario| %>
    <ul>
        <%= usuario.Nome %></td>
    </ul>
<% end %>

<h2>foi<h2>