<h1> New segue </h1>

<% @caracteristicas.each do |tag| %>
    <%= button_to tag.Descricao, {:controller => 'segues', :action => 'create', :segues => {:usuario_id => usuario_atual.id, :caracteristica_id => tag.id}}, :method =>:post %>
<% end %>

<%= link_to 'Back', segues_path%>
